<!doctype html>
<html>
<head>
    <title>Skillin it</title>
</head>

<body>
{% for flash in get_flashed_messages() %}
{{ flash }}
{% endfor %}
<br>
    <a href='/'>home</a>
    <a href='/skill_search'>search by skill</a>
    <a href='/job_skills'>search by job</a>
    {% if session["user_id"] %}
    <a href='/logout'>logout</a>
    {% else %}
    <a href='/login'>login</a>
    <a href='/register'>register</a>
    {% endif %}
    {% block content %}

    this is where stuff goes

    {% endblock %}

</body>

</html>