{% extends 'base.html' %}

{% block content %}

<form id="job_search" method="GET" action="/job_skills.json">
    <label>Enter a job title</label>
    <input type="text" id="title" name="title">
    <label>how many skills?</label>
    <input type="number" id="list_total" name="list_total">
    <input type="submit">
</form>
<div class="job-search-ghost">
    <p>Enter a job title to see the top skills requested.</p>
<img src="/static/imgs/ghostin_happy.svg" style="width: 300px"/>
</div>

<div class="holder">
    </div>
    
    <div id="test" name="test" value="none">
        <h3 class="skill"></h3>
        </div>
    <div class="skill-added-ghost">
        <p>Skill Added</p>
        <img src="/static/imgs/ghostin_blush.svg"/>
    </div>
    
    <button id="addit">add</button>
    
<script src="https://d3js.org/d3.v5.min.js"></script>

    <script src="/static/job_skills.js"></script>

{% endblock %}