{% extends 'base.html' %}
{% block content %}
<h1>{{ name }}</h1>
{% if user_skills %}
<ol>
    <h3>These are your skills</h3>
    {% for skill in user_skills %}
    <li>
        {{skill.skill.skill}}
    </li>
    {% endfor %}
</ol>
{% else %}
<h3>Looks like you don't have any skills!<h3>
{% endif %}
<form name="add" action="/profile/{{ user_id }}" method="POST">
    <h4>add a skill</h4>
    <input type='text' name='skill' value=None>
    <input name='add' type='submit'>
    </form>

<form name="del" action="/profile/{{ user_id }}/del" method="POST">
    <h4>delete a skill</h4>
    <input type='text' name='delete_this'>
    <input name= 'del' type='submit'>
</form>
<!-- <h3> -->
<!-- <ul>
    <h3>These are the skills you are working on</h3>
    {% for skill in user_goals %}
    <li>
        {{skill}}
    </li>
    {% endfor %}
</ul> -->
{% endblock %}