{% extends 'base.html' %}
{% block content %}
<section class="top">
<aside>
<div class="name">
<h1>Hello {{ name }}</h1>
</div>
<form name="add" action="/profile/{{ user_id }}" method="POST">
    <h4>-----add a skill-----</h4>
    <input type='checkbox' name='in-progress'>this skill is in progress still<br>
    <input type='text' name='skill'>
    <input name='add' type='submit' value='+'>
    </form>

<form name="del" action="/profile/{{ user_id }}/del" method="POST">
    <h4>----delete a skill----</h4>
    <input type='text' name='delete_this'>
    <input name= 'del' type='submit' value='-'>
</form>
</aside>
{% if user_skills %}
<div class="skills">
<ul class="current">
    <h3>These are your current skills</h3>
    {% for skill in user_skills %}
    {% if not skill.in_progress %}
    <li class="skill">
        {{skill.skill.skill}}
    </li>
    {% endif %}
    {% endfor %}
    <h3 class="in-progress">These are your in progress skills</h3>
    {% for skill in user_skills %}
    {% if skill.in_progress %}
    <li class="skill">
        {{skill.skill.skill}}
    </li>
    {% endif %}
    {% endfor %}
</ul>
</div>
{% else %}
<h3>Looks like you don't have any skills!<h3>
{% endif %}
</section>
{% if all_jobs %}
<div class="jobs">
<h3>Jobs looking for all skills</h3>
<ul>
{% for job in all_jobs %}
<li>{{job}}</li>
{% endfor %}
</ul>
{% endif %}
{% if current_skill_jobs %}
<h3>Jobs looking for your current skills</h3>
<ul>
{% for job in current_skill_jobs %}
<li>{{job}}</li>
{% endfor %}
</ul>
{% endif %}
{% if progress_skills_jobs %}
<h3>Jobs looking for your progress skills</h3>
<ul>
{% for job in progress_skills_jobs %}
<li>{{job}}</li>
{% endfor %}
</ul>
</div>
{% endif %}


<script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="/static/profile.js"></script>

{% endblock %}