{% extends 'base.html' %}
{% block content %}
<form class='skill-search' action="/skill_search" method="POST">
    <label>Enter a skill</label>
    <input type="text" name="skill_search">
    <input type="submit">
</form>
{% if jobs %}

<ul>
    <h3>Jobs that use {{skill_search}}</h3>
{% for job in jobs %}
<li id='job-results'>
    {{ job.job.title }}
</li>
{% endfor %}
</ul>
{% else %}
<div class="job-search-ghost">
    <p>Here you can enter in a skill to see all jobs that ask for it.</p>
<img src="/static/imgs/ghostin_happy.svg" style="width: 300px"/>
</div>
{% endif %}
{% endblock %}